@CHARSET "UTF-8";
/*部員紹介*/

.menuicon_frame{
	transition: .7s;
}

.menuicon_frame:hover{
 color: #ffffff;
}

/*活動紹介(全体)*/
.actionflame{
	font-family: cursive;
	width: 300px; height: 100px;
	padding: 0px 20px;
	float: left;
	text-align: center;
}

/*画像の要素*/
.sagyou{
	width: 300px; height: 380px;
}

/*テキスト*/

.sagyou{
	font-size:15px;
    list-style:none;
    cursor: pointer;
}

/*画像の後ろにあるボックス要素*/
.info {
padding-left: 10px;
padding-right: 10px;
z-index: -20;
position: relative;
left: 150px;
font-family: 'Lato', sans-serif;
color: black;
margin-left: -150px;
margin-top: -385px;
background: linear-gradient(#fff, #8b5);
width: 280px;
height: 377px;
-webkit-transform: scale(0.1,0.1);
-moz-transform: scale(0.1,0.1);
-ms-transform: scale(0.1,0.1);
}

/*画像のアニメーション速度*/
#big .sagyou{
	transition: all 0.7s;
}

/*ボックス要素のアニメーション速度*/
#big .info{
	-webkit-transition: all 0.9s;
	-webkit-transform: scale(0.8)
	-moz-transition: all 0.9s;
	-moz-transform: scale(0.8);	
	-ms-transition: all 0.9s;
	-ms-transform: scale(0.8);
	}

/*オンマウス時の画像のアニメーション*/
.sagyou:hover{
	opacity:0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);

}

/*オンマウス時のボックス要素のアニメーション*/
#big li:hover .info{
	opacity:0.8;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
}





