@CHARSET "UTF-8";
/*部員紹介*/

/*活動紹介(全体)*/
.actionflame{
	font-family: cursive;
	width: 300px; height: 100px;
	padding: 0px 20px;
	float: left;
	text-align: center;
}

/*画像の要素*/
.sagyou{
	width: 300px; height: 380px;
}

/*テキストの要素*/
.profiles {
	font-size:1px;
    list-style:none;
    cursor: pointer;
}

/*画像の後ろにあるボックス要素*/
.info {
z-index: -20;
position: relative;
left: 150px;
font-family: 'Lato', sans-serif;
color: black;
margin-left: -90px;
margin-top: -292px;
background-color: rgba(55, 168, 80, 1);
width: 160px;
height: 189px;
}

/*画像のアニメーション速度*/
#big .sagyou{
	transition: all 0.7s;
}

/*ボックス要素のアニメーション速度*/
#big .info{
	-webkit-transition: all 0.7s;
	transform: scale(0.8);
}

/*オンマウス時の画像のアニメーション*/
.sagyou:hover{
	opacity:0;
	-webkit-transform: scale(1.5);
}

/*オンマウス時のボックス要素のアニメーション*/
#big li:hover .info{
	-webkit-opacity:0.7;
	-webkit-transform: scale(2);
}





