@CHARSET "UTF-8";
/* -- デバッグ用 -- */
.db {
	border: 1px solid black;
}

#wrap {
	height:670px;
}

* {
	margin: 0;
	padding: 0;
}
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* -- header部分 -- */
#header_wrap {
	position: fixed;
	width: 1500px;
	height: 120px;
	background: -webkit-linear-gradient(#FFF 60%, #BBB);
	background: -ms-linear-gradient(#FFF 60%, #BBB);

}

.no-linear-gradient .#header_wrap {
	position: fixed;
	width: 1500px;
	height: 120px;
	background: 
}

#intro_header {
	position: relative;
	left: 0px;
	top: 0px;
	background: -webkit-linear-gradient(#FFF 60%, #BBB);
	height: 120px;
	width: 5400px;
}

#ITC_String {
	padding: 20px 0px 10px 0px;
}
/*ヘッダーのITCマーク*/
.ITC_icon {
	float: left;
	padding: 15px 20px 0px 15px;
}

/* -- ページ内リンクリストのスタイル --*/
/*ページ内リンクボタンのスタイル*/
.menuicon_frame {
	display: block;
	float: left;
	width: 120px;
	height: 40px;
	margin: 3px;
	border: 1px solid #90C060;
	background: -webkit-linear-gradient(#FFF 50%, #BBB);
	border-radius: 5px;
	text-align: center;
	/*フォント*/
	color: #90C060;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000;
	text-decoration: none;
}

.menuicon_frame:hover {
	cursor: pointer;
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* -- メインコンテンツ(中央部) -- */
#inclusion_maincontents {
	position:relative;
	clear: left;
	display: block;
	height: 450px;
	width: 5000px;
}

.mainarea_common {
	float: left;
	position: relative;
	display: block;
	width: 1100px;
	height: 450px;
}

/* -- ページTOPのコンテンツ --*/
.vcatch {
	position: absolute;
	top: 120px;
	left: 430px;
}

#whatsnew {
	position: absolute;
	bottom: 20px;
	background-image: url(../images/whatsnews.png);
	opacity: 1;
	left: 80px;
	width: 475px;
	height: 150px;
	border-radius: 5px;
	-webkit-box-shadow:6px 5px 7px #000;
	
}

#whatsnew ul {
	position: relative;
	top: 45px;
	left: 20px;
}

#obj3 {
	position: absolute;
	bottom: 50px;
	right:  0px;
}



/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* -- フッターのスタイル -- */
#footer_wrap {
	position: relative;
	height: 100px;
	width: 5400px;
	background: -webkit-linear-gradient(#609030 10%, #90C060);
}

#copyright {
	position: fixed;
	top: 580px;
	left: 10px;
	/*フォント*/
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color: white;
	text-shadow: 1px 1px 3px #000; 
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* -- 距離クラス(表示オブジェクトの立体表現) -- */
/* - level0(最前面) - */
.dist1 {
	z-index: 40;
}

/* - Level1(基準) - */
.dist2 {
	z-index: 30;
}

/* - Level2(奥) - */
.dist3 {
	z-index: 20;
}

/* - Level3(かなり奥) - */
.dist4 {
	z-index: 10;
}